@import "../../../css/variables.scss";

.nav {
  display: flex;
  align-items: center;
  position: relative;
  height: 4rem;
  width: 100%;
  box-shadow: 0 9px 10px rgba($color: #000000, $alpha: 0.16);
  justify-content: space-between;

  &__logo,
  &__date {
    background: -webkit-linear-gradient($mainColor, $secondaryColor);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  &__logo {
    font-size: 3rem;
    margin-left: 0.5rem;
  }

  &__date {
    font-size: 2rem;

    &--2 {
      width: 30rem;
      text-align: center;
    }
    &--1,
    &--3 {
      cursor: pointer;
    }

    &--1 {
      margin-right: 1rem;
    }

    &--3 {
      margin-left: 1rem;
    }
  }

  &__dates {
    display: flex;
    margin-right: 6rem;
  }

  &__modal {
    position: absolute;
    right: 0;
    top: 4rem;
    margin-right: 0.5rem;
    box-shadow: 0 9px 10px rgba($color: #000000, $alpha: 0.16);
    border-radius: 0 0 10px 10px;
    width: 7rem;
    background-color: white;
    z-index: 1;

    &Option {
      margin: 1rem 0;
      text-align: center;
      color: $mainColor;
      font-weight: bold;
      cursor: pointer;
    }
  }

  &__userIcon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 1rem;
  }
}
