.scheduleBody {
  display: grid;
  box-shadow: 0 3px 4px rgba($color: #000000, $alpha: 0.16);
  grid-template-rows: repeat(32, 3rem);
  width: 100%;

  &__cell {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #dddddd;
    position: relative;


    &:first-of-type{
      border-top: 0;
      border-bottom: 0;
    }
  }

  &__hour{
    right:0;
    position: absolute;
    bottom:0;
    margin: 0 0.1rem -0.5rem 0;
    font-size: 1rem;
  }

  &__row {
    display: inline-block;
    width: 100%;
    display: grid;
    grid-template-columns: 2rem repeat(6, 1fr);
  }
}
