.scheduleHeader {
  display: grid;
  box-shadow: 0 3px 4px rgba($color: #000000, $alpha: 0.16);
  grid-template-columns: 2rem repeat(6, 1fr);
  grid-template-rows: 4rem;
  width: 100%;

  &__cell {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #dddddd;
  }

  &__row {
    display: inline-block;
    width: 74vw;
  }

  &__week {
    &Day {
      margin: 0.3rem 0 0.1rem 0.4rem;
      font-weight: bold;
      display: inline-block;
    }
    &Number {
      display: inline-block;
      margin: -1rem 0 0.1rem 0.1rem;
      text-align: center;
      font-size: 2rem;
    }
  }
}
