.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding: 0.2rem;
  margin: 1rem;

  &__header,
  &__item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }

  &__header {
    border-bottom: solid 1px black;
    font-weight: bold;
  }
}
