.schedule {
  width: 75vw;
  height: calc(100vh - 4rem);
  overflow: auto;
  position: relative;

  &__cell {
    display: flex;
    flex-direction: column;
    height: 100%;

    &--container {
      width: 12vw;
      border: 1px solid #eeeeee;
      color: #8b8b8b;
      margin: 0;
      display: inline-block;
      height: 100%;
      padding: 0;
    }

    &--firstCol {
      width: 3vw;
      border-bottom: none;
      border-top: none;
    }
  }

  &__row {
    display: inline-block;
    width: 74vw;
    height: 3rem;
    &--firstRow {
      height: 4rem;
      position: relative;
      z-index: 2;
      .schedule__cell--container {
        border: 1px solid #dddddd;
      }
    }

    &:first-of-type {
      .schedule__cell--container {
        border-top: 1px solid #dddddd;
      }
    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
  }

  &__week {
    &Day {
      margin: 0.3rem 0 0.1rem 0.4rem;
      font-weight: bold;
      display: inline-block;
    }
    &Number {
      display: inline-block;
      margin: -1rem 0 0.1rem 0.1rem;
      text-align: center;
      font-size: 2rem;
    }
  }
}
