.scheduleList {
  color: #6db5ed;
  padding: 1.2rem;

  &__list {
    overflow-y: auto;
    height: calc(100vh - 13rem);

    &::-webkit-scrollbar-track {
      border-radius: 5px;
      background-color: #f5f5f5;
      border: 1px solid rgba($color: #6db5ed, $alpha: 0.3);
    }

    &::-webkit-scrollbar {
      width: 7px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: #6db5ed;
    }
  }

  &__add {
    margin: 0 auto;
    width: 100%;
    background-color: #288d7f;
    border-radius: 5px;
    transition: background-color 0.15s ease-in-out;
    border: 1px solid white;

    cursor: pointer;

    &:hover {
      opacity: 0.7;
      box-shadow: 1px 2px 5px rgba($color: #000000, $alpha: 0.4);
    }
  }

  &__error {
    color: red;
  }

  &__item {
    padding: 0.5rem;
    display: inline-block;
    width: 100%;
    margin: 5px auto;
    max-height: 100%;
    font-size: 1rem;
    text-align: left;
    border-radius: 5px;
    transition: background-color 0.15s ease-in-out;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

    background-color: white;
    border: 1px solid #6db5ed;

    &__title,
    &__description,
    &__arrow {
      color: #6db5ed;
    }

    &__arrow {
      position: relative;
      bottom: 4rem;
      left: 85%;
      font-size: 3rem;
    }

    &__delete {
      position: relative;
      top: 0rem;
      left: 85%;
      background-color: transparent;
      border-color: transparent;
      cursor: pointer;
    }

    &--selected {
      background-color: #6db5ed;
      border: 1px solid white;
      box-shadow: 1px 2px 5px rgba($color: #000000, $alpha: 0.4);

      &__title,
      &__description,
      &__arrow {
        color: white;
      }
    }

    &--selected &__title,
    &--selected &__description,
    &--selected &__arrow {
      color: white;
    }

    &:hover {
      color: white;
      &__title,
      &__description,
      &__arrow {
        color: white;
      }
      background-color: #6db5ed;
      border: 1px solid white;
      box-shadow: 1px 2px 5px rgba($color: #000000, $alpha: 0.4);
    }

    &:hover &__title,
    &:hover &__description,
    &:hover &__arrow {
      color: white;
    }
  }
}
